<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blogs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ blogName || 'Posts' }}</ion-title>
    <ion-note slot="end" *ngIf="blogHandle">{{ blogHandle }}</ion-note>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="!posts.length" class="ion-text-center ion-padding">
    <ion-card-header>
      <ion-card-title>No hay posts todavía</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¡Sé el primero en crear un post para este blog!
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-label>
        <h2>{{ post.title }}</h2>
        <p>{{ formatDate(post.date) }}</p>
        <div [innerHTML]="post.content" class="ion-margin-top"></div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAddPostModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal para agregar post -->
  <ion-modal [isOpen]="showModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Post</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showModal = false">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input [(ngModel)]="newPost.title" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contenido</ion-label>
          <ion-textarea [(ngModel)]="newPost.content" rows="5" ></ion-textarea>
        </ion-item>
        <ion-button expand="block" class="ion-margin-top" (click)="createPost()">
          Publicar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
